.logo {
    height:100px;
    margin-left:100px;
    margin-right: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
    
}
a:hover {
    text-decoration: none;
}