{% extends 'base.html' %}
{% block content %}
<div class="ml-2">
  <div class="nav bg-light">
    {% for key, value in categories%}
    <a class="nav-link mr-auto" href="{% url 'category' key %}">{{key}}</a>
    {% endfor%}
  </div>
  <form action="{%url 'search' %}">
    {%csrf_token %}
    <div class="input-group mb-3">
      <input type="text" name="keyword" class="form-control" aria-label="Sizing example input"
        placeholder="Item Search!" aria-describedby="inputGroup-sizing-default">
      <input type="submit" class="btn btn-success" name="" id="" value="Search">
    </div>
  </form>

  <div class="row">
    
    {% for item in items %}
      <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
      <div class="card h-100 ">
        <div class="card-body">
          <img src="{{item.image.url}}" class="card-img-top img-fluid " alt="" height="100px">
          <div class="card-text">
            <a href="{% url 'item_details' item.id%}">
              <p class="text-capitalize card-title">{{item.name |truncatechars:30}}</p>
            </a>
            <p class="card-text">$$ {{item.price }}</p>
          </div>
          <div class="card-footer">
            <form action="{% url 'add_to_cart' %}" method="POST">
              <input type="submit" value="Add To Cart" id="" class="btn btn-success">
              {%csrf_token %}
              <input type="hidden" name="item_id" value="{{item.id}}">
              

            </form>
          </div>
        </div>
      </div>

    </div>

    {% endfor%}

  </div>


</div>

<div class="row pl-2">
  <div class="col-sm-5">
    <h5>Top selling</h5>
    {% for item in top_selling %}
    <li class="list-group-item col"><a href="{% url 'item_details' item.id%}">{{item.name| truncatechars:30}} </a></li>
    {% endfor %}
  </div>
  
  <div class="col-sm-6 col-lg-4">
     <h5>Recently added</h5> 
     {% for item in recent %}
     <li class="list-group-item col"><a href="{% url 'item_details' item.id%}">{{item.name| truncatechars:30}} </a></li>
     {% endfor %}
  </div>

</div>













{% endblock %}